<div class="jumbotron">
        <div class="row">
             <div class="col-md-5">
                 <br>
                 <h3><center><b>Szukaj po składniku:</b><br><br>
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="Składnik..." ng-model="prodName"><span class="input-group-addon"><i class="glyphicon glyphicon-search form-control-feedback"></i></span></div>
                     <button a href="/#!displayResults/{{ prodName }}" class="btn btn-success m-t-30" type="button" ng-click="searchByProduct()">Szukaj</button></center></h3><br>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-5">
                <br>
                 <h3><center><b>Szukaj po nazwie przepisu: </b><br><br>
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="Nazwa..." ng-model="recipeName"><span class="input-group-addon"><i class="glyphicon glyphicon-search form-control-feedback"></i></span></div>
                <button a href="/#!displayResults/{{ recipeName }}" class="btn btn-success m-t-30" type="button" ng-click="searchByName()">Szukaj!</button></center></h3>
            </div>
        </div>
</div>

