<div class="jumbotron">     
        <div class="row">  
            <div class="col-md-2 col-md-offset-5">
                <div class="container1">
                <button type="button" class="btn btn-primary btn-lg btn-block">Przelicznik miar </button><br>
                <center>
                    
                    <div class="input-group ">
                    <div class="form-group .col-md-4">
                        <label for="selectProduct">Produkt: </label><br>
                        <select class="form control" ng-model="productToCalc">
                        <option value="WATER">WODA</option>
                        <option value="FLOUR">MĄKA</option>
                        <option value="SUGAR">CUKIER</option>
                        </select>
                    </div>
                    <div class="form-group ">
                     <input type="number" class="form-control" placeholder="Ilość..." ng-model="amountToCalc">
                    </div>

                       <div class="form-group">
                        <label for="selectFrom">Jednostka wyjściowa: </label><br>
                        <select class="form control" ng-model="fromToCalc">
                        <option value="GLASS">SZKLANKA</option>
                        <option value="SPOON">ŁYŻKA STOŁOWA</option>
                        <option value="TEASPOON">ŁYŻECZKA</option>
                        <option value="GRAM">GRAMY</option>
                        <option value="MILLIGRAM">MILIGRAMY</option>
                        <option value="LITER">LITRY</option>
                        <option value="MILLILITER">MILILITRY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectTo">Chcę wynik w: </label><br>
                        <select class="form control" ng-model="toToCalc">
                        <option value="GLASS">SZKLANKA</option>
                        <option value="SPOON">ŁYŻKA STOŁOWA</option>
                        <option value="TEASPOON">ŁYŻECZKA</option>
                        <option value="GRAM">GRAMY</option>
                        <option value="MILLIGRAM">MILIGRAMY</option>
                        <option value="LITER">LITRY</option>
                        <option value="MILLILITER">MILILITRY</option>
                        </select>
                    </div>  
                    </div>
                    <center><button class="btn btn-success m-t-30" type="button" ng-click="calculate()">Przelicz!</button></center><br>
                    
                </center>
            </div>
        </div>    
    </div>
</div>



    


