<div class="jumbotron">
    <h1>Witaj!</h1>
    <div class="row">
        <p><b>Proponowane przepisy na dzisiaj:</b></p>
    <div class="col-md-4 col-md-offset-4">
        <li ng-repeat="recipe in randomRecipes" class="list-group-item text-center clearfix">
        <span style="font-weight: bold">{{recipe.name}}</span>
            <a href="/#!recipeShow/{{ recipe.id }}" class="btn btn-success btn-xs pull-right" style="margin-right: 20px" role="button">
            <span class="glyphicon glyphicon-eye-open"></span></a>
        </li><br>
        
            <center><h2>{{message}}</h2> </center> 
        </div>
    </div>
</div>
