<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-primary btn-lg btn-block">Edytuj produkt</button>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nazwa..." ng-model="product.name" ng-attr-placeholder="{{product.name}}">
                <input type="text" class="form-control" placeholder="Kcal..." ng-model="product.kcal" ng-attr-placeholder="{{product.kcal}}">
                <input type="text" class="form-control" placeholder="Węglowodany..." ng-model="product.carbo" ng-attr-placeholder="{{product.carbo}}">
                <input type="text" class="form-control" placeholder="Białko..." ng-model="product.protein" ng-attr-placeholder="{{product.protein}}">
                <input type="text" class="form-control" placeholder="Tłuszcz..." ng-model="product.fat" ng-attr-placeholder="{{product.fat}}">
                <textarea class="form-control" placeholder="Opis..." ng-model="product.description" name="desc" ng-attr-placeholder="{{product.description}}"></textarea>
                <center>
                <button class="btn btn-success m-t-30" type="button" ng-click="editProduct()">Edytuj!</button>
                </center>
            </div>
        </div>
    </div>
</div>