<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-info btn-lg btn-block"><b>{{ product.name }}</b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Kalorie: {{ product.kcal }} / 100 g </b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Węglowodany: {{ product.carbo }} / 100 g</b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Tłuszcz: {{ product.fat }} / 100 g </b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Białko: {{ product.protein }} / 100 g</b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Opis: </b></button>
            <p><b><center>{{ product.description }}</center></b></p>
            <br><br>
        </div>
    </div>
</div>