<div class="jumbotron">
    <div class="row" >
        <div class="col-md-4 col-md-offset-4"><br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Lista produktów</button>
            <ul class="list-group" >
                <li ng-repeat="product in products | orderBy: 'name'" class="list-group-item text-center clearfix">
                    <span style="font-weight: bold">{{product.name}}</span>
                        <a href="/#!productDelete/{{ product.id }}" class="btn btn-danger btn-xs pull-right" role="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="/#!productEdit/{{ product.id }}" class="btn btn-info btn-xs pull-right" style="margin-right: 20px" role="button">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="/#!productRecipes/{{ product.id }}" class="btn btn-warning btn-xs pull-right" style="margin-right: 20px" role="button">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                        <a href="/#!productShow/{{ product.id }}" class="btn btn-success btn-xs pull-right" style="margin-right: 20px" role="button">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>


