<div class="jumbotron">
    <div class="row">           
        <div class="col-md-4 col-md-offset-4"> 
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Nazwa produktu..." ng-model="productName">
            <input type="text" class="form-control" placeholder="Kalorie w 100 g produktu..." ng-model="productKcal">
            <input type="text" class="form-control" placeholder="Zawartość węglowodanów w 100 g..." ng-model="productCarbo">
            <input type="text" class="form-control" placeholder="Zawartość tłuszczu w 100 g..." ng-model="productFat">
            <input type="text" class="form-control" placeholder="Zawartość białka w 100 g..." ng-model="productProtein">
            <textarea class="form-control" name="description" placeholder="Opis..." ng-model="productDesc"></textarea>
            <br><br>
                <center><button class="btn btn-primary m-t-30" type="button" ng-click="addProduct()">Dodaj produkt!</button></center><br> 
            </div>
        </div>
    </div>
</div>
