<div class="jumbotron">
    <div class=row>
        <div class="col-md-4 col-md-offset-4">
          <button type="button" class="btn btn-primary btn-lg btn-block">Przepisy: </button>
            <ul class="list-group">
                 <li ng-repeat="recipe in productRecipes | orderBy: 'name'" class="list-group-item text-center clearfix">
                    <span style="font-weight: bold"><a href="/#!recipeShow/{{ recipe.id }}">{{ recipe.name }}</a></span>
                 </li>
             </ul>
        </div>
    </div>
</div>