<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-warning btn-lg btn-block"><b>{{ recipe.name }}</b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Składniki: </b>{{ recipe.ingredients.name }}</button>
            <center> <p style="font-size: 15px;" ng-repeat="ingredient in recipe.ingredients"><b>{{ ingredient.product.name }} - {{ ingredient.amount }} g </b></p></center>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Suma kalorii: {{ kcalSum }} </b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Węglowodany: {{ carboSum }} </b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Białko: {{ proteinSum }} </b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Tłuszcz: {{ fatSum }}</b></button>
            <button type="button" class="btn btn-default btn-md btn-block"><b>Opis wykonania: </b></button>
            <p><center><b>{{ recipe.description }}</b></center></p>
        </div>
    </div>
</div>


