<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nowa nazwa" ng-model="recipeName">
                    <center><button class="btn btn-success m-t-30" type="button" ng-click="editRecipeName()">Zmieniam!</button></center><br>
                    <p>Wybierz nowe składniki: </p>
                <select class="form-control" ng-model="productId" placeholder="Produkt">
                    <option ng-repeat="p in products"  value="{{p.id}}">{{p.name}}</option></select>
                <input type="number" class="form-control" placeholder="Ilość..." ng-model="recipeAmount"> 
                <center><button class="btn btn-success m-t-30" type="button" ng-click="editIngredient()">Dodaj składnik</button></center><br>
                <textarea class="form-control" name="description" placeholder="Nowy opis wykonania..." ng-model="recipeDesc"></textarea>  
                <select class="multiselect-ui form-control" multiple="multiple" placeholder="Wybierz typ " ng-model="recipeType">
                    <option value="breakfast" input type="checkbox">Śniadanie</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Obiad</option>
                    <option value="supper">Kolacja</option>
                    <option value="other">Inny</option>
                </select><br>
                <center><button class="btn btn-success m-t-30" type="button" ng-click="editRecipeDetails()">Zmień ten przepis!</button></center>
            </div>
        </div>
    </div>
</div>

