<div class="jumbotron">    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nazwa przepisu" ng-model="recipeName">
                    <center><button class="btn btn-info m-t-30" id="showForm1" type="button" ng-click="addRecipeName()">Dodaję!</button></center><br>
                <div id="form2">
                        <p>Wybierz składniki: </p>
                        <select class="form-control" ng-model="productId" placeholder="Produkt">
                            <option ng-repeat="p in products"  value="{{p.id}}">{{p.name}}</option></select>
                            <input type="number" class="form-control" placeholder="Ilość w gramach..." ng-model="recipeAmount"> 
                            <center><button class="btn btn-info m-t-30" type="button" ng-click="addIngredient()" value="Reset">Dodaj składnik</button></center><br>
                </div>
                <div id="form3">
                            <textarea class="form-control" name="description" placeholder="Opis wykonania..." ng-model="recipeDesc"></textarea>
                            <select class="multiselect-ui form-control" multiple="multiple" placeholder="Wybierz typ " ng-model="recipeType">
                            <option value="breakfast" input type="checkbox">Śniadanie</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Obiad</option>
                            <option value="supper">Kolacja</option>
                            <option value="other">Inny</option>
                        </select><br>
                    <center><button class="btn btn-primary m-t-30" type="button" ng-click="addRecipe()">Dodaj przepis!</button></center><br>
                </div>
            </div>
        </div>
    </div>
</div>


