.jumbotron {
    text-align: center;
    background: url('../backgr.jpg');
}

.container1 {
    height: 400px;
    width: 300px;
    background-color: #FFE7D8;
    background: url('../ananas.jpg') no-repeat center top;
   }

#form2 {
    display: none;
}

#form3 {
    display: none;
}
