body {
    background-color: beige;
    color: black;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

#container{
    height: 800px;
}

.sidebar {
    width: 30%;
    float: left;
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
}

.content {
    width: 70%;
    float: left;
    background-color: wheat;
    text-align: left;
}

.footer {
    background-color: grey;
    color: orange;
    clear: both;
}

.header {
    background-color: blueviolet;
    color: white;
}

